@model Int32

<div class="panel-group" id="depart_@Model.ToString()">
    <div class="row">
        <hr />
        <h3>Departure part #@Model.ToString()</h3>
        <hr />

        <div class="form-group">
            <label class="col-md-3 control-label">Departure day:</label>
            <div class="col-md-9">
                <select name="DepartureDays[@Model.ToString()]" class="form-control">
                    <option value="1">Monday</option>
                    <option value="2">Tuesday</option>
                    <option value="3">Wednessday</option>
                    <option value="4">Thursday</option>
                    <option value="5">Friday</option>
                    <option value="6">Saturday</option>
                    <option value="7">Sunday</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Departure time:</label>
            <div class="col-md-9">
                <input type="time" name="DepartureTime[@Model.ToString()]" class="form-control" />
            </div>
        </div>
    </div>
</div>
