@model Bazi_Web.Models.FlightListViewModel
@using Db201617zVaProektRnabContext
@{
    ViewBag.Title = "ViewFlights";
}

<div class="page-header">
    <h2>ViewFlights</h2>
</div>

@Html.Partial("Menu")
<div class="panel panel-info">
    <div class="panel-heading">
        <h3>Page: @Model.PageNumber</h3>
    </div>
    <div class="panel-body">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th style="width:20%">Status</th>
                    <th style="width:20%">From</th>
                    <th style="width:20%">To</th>
                    <th style="width:20%">Time</th>
                    <th style="width:20%">Distance</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7">
                        <div class="btn-group btn-group-justified">
                            @if (Model.PageNumber != 1)
                            {
                                @Html.ActionLink("Previous page", "ViewAirplanes", "Company", new { pageNumber = (Model.PageNumber - 1), pageSize = Model.PageSize }, new { @Class = "btn btn-primary" });
                            }
                            @Html.ActionLink("NextPage", "ViewAirplanes", "Company", new { pageNumber = (Model.PageNumber + 1), pageSize = Model.PageSize }, new { @Class = "btn btn-primary" })
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>