
@{
    ViewBag.Title = "AccessDenied";
}

<div class="jumbotron text-center">
    <h1 class="alert alert-danger">
        <span class="glyphicon glyphicon-ban-circle" style="font-size:350%"> </span><br />
        Insufficient permition to perform this action!
    </h1>
    <a href="~/Home/Index">Go to home page</a>
</div>



