<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div style="text-align:center; vertical-align:middle; width:90vw; height:20vh; margin:40vh 5vw; padding:0;">
        <h1>Ooops, something went wrong.</h1>
        <a href="~/Home/Index">Go to home page</a>
    </div>
</body>
</html>
