<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="Db201617zVaProektRnabEntitiesConnectionString" connectionString="metadata=res://Bazi_Data_Access/Rnab.csdl|res://Bazi_Data_Access/Rnab.ssdl|res://Bazi_Data_Access/Rnab.msl;provider=Devart.Data.PostgreSql;provider connection string=&quot;User Id=db_201617z_va_proekt_rnab_owner;Password=darko05gjorche21;Host=127.0.0.1;Database=db_201617z_va_proekt_rnab;Persist Security Info=True;Initial Schema=public&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Db201617zVaProektRnabDataContextConnectionString"
      connectionString="User Id=db_201617z_va_proekt_rnab_owner;Password=darko05gjorche21;Host=127.0.0.1;Database=db_201617z_va_proekt_rnab;Persist Security Info=True;Initial Schema=public" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, EntityFramework6.Npgsql" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Npgsql" />
      <add invariant="Npgsql" name="Npgsql Data Provider" description=".Net Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql" />
    </DbProviderFactories>
  </system.data>
</configuration>